@if (listReady) {
  <app-list-page title="Fornecedores" addLabel="Novo fornecedor" [dataSource]="dataSource"
    [displayedColumns]="displayedColumns" [pageSize]="pageSize" [showPaginator]="totalCount > pageSize"
    [paginatorLength]="totalCount" [paginatorPageIndex]="pageIndex" [useExternalPagination]="true"
    (add)="onAddSupplier()" (page)="onPageChange($event)">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell class="text-bold-table" *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <ng-container matColumnDef="explorationCode">
    <th mat-header-cell *matHeaderCellDef>Código Exploração</th>
    <td mat-cell *matCellDef="let row">{{ row.explorationCode }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>Cidade</th>
    <td mat-cell *matCellDef="let row">{{ row.city }}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Telefone</th>
    <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="certifications">
    <th mat-header-cell *matHeaderCellDef>Certificações</th>
    <td mat-cell *matCellDef="let row" class="certifications-cell">{{ row.certifications }}</td>
  </ng-container>

    <tr mat-no-data-row>
      <td [attr.colspan]="displayedColumns.length" class="no-data-cell">
        @if (isLoading) {
          A carregar fornecedores...
        } @else if (hasError) {
          {{ errorMessage }}
        } @else if (isEmpty) {
          {{ emptyMessage }}
        }
      </td>
    </tr>
  </app-list-page>
}
